 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/wallpaper.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 1471px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 185px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 335px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 255px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 335px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: MinecraftTenE;
  font-weight: 400;
  margin: 46px 96px 0 84px;
}

.u-section-1 .u-text-2 {
  font-family: MinecraftRegular-Bmg3;
  margin: 19px 111px 0 100px;
}

.u-section-1 .u-text-3 {
  font-family: MinecraftRegular-Bmg3;
  width: 341px;
  margin: 5px 90px 0 79px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 335px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 255px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 335px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-family: MinecraftTenE;
  font-weight: 400;
  margin: 49px auto 0;
}

.u-section-1 .u-text-5 {
  font-family: MinecraftRegular-Bmg3;
  margin: 19px auto 0;
}

.u-section-1 .u-text-6 {
  font-family: MinecraftRegular-Bmg3;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 29px;
    margin-right: 40px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 276px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 18px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 300px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 399px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 399px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1513px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 112px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-right: 117px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-right: 122px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 1px;
    margin-right: 105px;
    margin-left: 115px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 202px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1329px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 136px;
    margin-bottom: 36px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 79px;
    margin-right: 72px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 82px;
    margin-right: 75px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 15px;
    margin-right: 5px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 127px;
  }
}@font-face {
  font-family: 'MinecraftTenE';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MinecraftTenE.ttf);
}@font-face {
  font-family: 'MinecraftRegular-Bmg3';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MinecraftRegular-Bmg3.otf);
}